.userActions {
   display: flex;
   width: 30%;
}
.userDetails {
   display: flex;
   flex-direction: column;
   justify-items: start;
}

.userName {

}

.logout {
line-height: 2em;
}

.thumbnail {

}

.thumbnail > img {
   width: 45px;
}


