/* Check for better approach in angular */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.toolbarWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
   width: 100%;
   /* border: 1px solid greenyellow; */
}

.toolbar {
   width: 90%;
   display: flex;
   position: fixed;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 10px;
   padding: .5em 1em;
   /* margin: 1em; */
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}

.toolbar>* {
   /* margin: .5em 1em; */
}

.homeIcon {
   cursor: pointer;
}

.homeIcon img {
   width: 40px;
}

.homeProject {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 18%;
   margin-left: 1em;
}

.projectName {
   /* flex-basis: 100%; */
   /* align-self: flex-start; */
   display: none;
}

.projectName:before {
   content: ">";
}

app-user-control {
   width: 18%;
}