<div class="toolbarWrapper">
   <div class="toolbar">

      <div class="homeProject">

         <div class="homeIcon">
               <img [src]="homeIconSource" alt="Home" (click)="navigateHome()">
         </div>

         <div class="projectName">
            {{projectName}}
         </div>
         <!-- If project name is not defined, have the <div *ngIf = '!projectName'> Routes.something -->
         <app-create-project-button></app-create-project-button>
      </div>

      <app-user-control></app-user-control>
   </div>
</div>