.toolbar {
   display: flex;
   /* position: fixed; */
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 10px;
   padding: .5em 1em;
   margin: 1em;
   }

.toolbar >* {
   /* margin: .5em 1em; */
border-color: greenyellow;
}

.homeIcon {
   border-color: black;
}

.homeIcon img {
   width: 45px;

}

.homeProject {
display: flex;
justify-content: space-between;
align-items: center;
width: 20%;


}

.projectName{
   /* flex-basis: 100%; */
   /* align-self: flex-start; */
   display: none;
}

.projectName:before{
   content: ">";
}
