@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.toolbar {
   display: flex;
   /* position: fixed; */
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 10px;
   padding: .5em 1em;
   margin: 1em;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
}

.toolbar>* {
   /* margin: .5em 1em; */
   border-color: greenyellow;
}

.homeIcon {
   border-color: black;
}

.homeIcon img {
   width: 45px;
}

.homeProject {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 15%;
   margin-left: 1em;
}

.projectName {
   /* flex-basis: 100%; */
   /* align-self: flex-start; */
   display: none;
}

.projectName:before {
   content: ">";
}